fuzzy-c-means==1.7.0
gensim==4.3.2
geopandas==0.14.1
matplotlib==3.8.2
murmurhash==1.0.10
networkx==3.2.1
nltk==3.8.1
numba==0.58.1
numpy==1.26.2
openai==1.3.7
opencv-python==4.8.1.78
osmnx==1.8.0
pandas==2.1.3
Pillow==10.1.0
requests==2.31.0
Rtree==1.1.0
scattertext==0.1.19
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
shap==0.44.0
spacy==3.7.2
statsmodels==0.14.0
tqdm==4.66.1
typer==0.4.2
tzdata==2023.3
urllib3==2.1.0
wordcloud==1.9.2
xgboost==2.0.2
xlrd==2.0.1
youtube-dl==2021.12.17

