annotated-types==0.6.0
anyio==3.7.1
attrs==23.1.0
blis==0.7.11
catalogue==2.0.10
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.16.0
cloudpickle==3.0.0
confection==0.1.4
contourpy==1.2.0
cycler==0.12.1
cymem==2.0.8
descartes==1.1.0
distro==1.8.0
feature-engine==1.6.2
fiona==1.9.5
flashtext==2.7
fonttools==4.45.1
fuzzy-c-means==1.7.0
gensim==4.3.2
geopandas==0.14.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
install==1.3.5
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
langcodes==3.3.0
llvmlite==0.41.1
MarkupSafe==2.1.3
matplotlib==3.8.2
murmurhash==1.0.10
networkx==3.2.1
nltk==3.8.1
numba==0.58.1
numpy==1.26.2
openai==1.3.7
opencv-python==4.8.1.78
osmnx==1.8.0
pandas==2.1.3
patsy==0.5.4
Pillow==10.1.0
preshed==3.0.9
pydantic==1.10.13
pydantic_core==2.14.5
pyparsing==3.1.1
pyproj==3.6.1
python-dotenv==1.0.0
pytz==2023.3.post1
pywin32==305.1
regex==2023.10.3
requests==2.31.0
Rtree==1.1.0
scattertext==0.1.19
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
shap==0.44.0
shapely==2.0.2
slicer==0.0.7
smart-open==6.4.0
sniffio==1.3.0
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
statsmodels==0.14.0
tabulate==0.8.10
thinc==8.2.1
threadpoolctl==3.2.0
tqdm==4.66.1
typer==0.4.2
tzdata==2023.3
urllib3==2.1.0
wasabi==1.1.2
weasel==0.3.4
wordcloud==1.9.2
xgboost==2.0.2
xlrd==2.0.1
youtube-dl==2021.12.17
